<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="hosts" type="Mural.PortConfigurationSection, Mural"/>
	</configSections>

	<log4net>
		<appender name="MuralConsole" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5level %logger - %message%newline" />
			</layout>
		</appender>

		<root>
			<level value="DEBUG" />
			<appender-ref ref="MuralConsole" />
		</root>
	</log4net>
	<hosts>
		<host name="localhost">
			<port number="8080" type="telnet" /> 
		</host>
		<host name="remotehost">
			<port number="80" type="http" />
			<port number="80" type="telnet" />
		</host>
	</hosts>
</configuration>
